{% comment %}
HTML came from sections/cart-item.
/snippets/minicart.liquid include in theme.liquid
{% endcomment %}

<div class="minibag-mask" style=""></div>
<div id="mini-cart" class="hide-minibag"></div> 