{% comment %}
  Shopify Wishlist
  Usage:
    - Replace the snippet name ('product-card') with your existing product card snippet
    - Pass the product object as a snippet variable named 'product'

{%- render 'product-card', product: product -%}{% endcomment %}
 <ul id="main-collection-product-grid " data-id="{{ section.id }}" class="grid grid--2-col negative-margin product-grid grid--3-col-tablet grid--one-third-max grid--4-col-desktop grid--quarter-max">
 
  <li class="grid__item product-card">
              {% render 'product-card', product_card_product: product, media_size: section.settings.image_ratio, show_secondary_image: section.settings.show_secondary_image, add_image_padding: section.settings.add_image_padding, show_vendor: section.settings.show_vendor, show_image_outline: section.settings.show_image_outline %}
    </li>
</ul>


{% schema %}
  {
    "templates": ["product"]
  }
{% endschema %}