.wishlist-pop.active {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    background-color: #fff;
}
.wishlist-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wishlist-info h1 {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.wishlist-info p {
    padding: 0;
    margin: 0;
}

.wishlist-info .cont-info {
    margin: 0 15px;
}

div#wishinfo_img {
    width: 70px;
    height: 70px;
    margin-left: 15px;
}

div#wishinfo_img img {
    width: 100%;
}

.wishlist-pop h4 {
    margin-left: 15px;
}

.wishlist-pop {
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    box-sizing: border-box;
    top: -200px; padding: 20px;display:none;
}
.wishlist-pop.active {
  display:block;
}

.wishlist-pop .button {
    margin-top: 20px;
}
